<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>


{{ range .Site.Params.googlefonts }}
       <link rel="stylesheet" {{ printf "href=\"//fonts.googleapis.com/css?family=%s\"" . | safeHTMLAttr }} type="text/css" media="all" />
     {{ end }}

 <style>
 body {
     font-family: '{{ .Site.Params.fontbody }}';
 }
 code {
    font-family: '{{ .Site.Params.fontcode }}'; 
 }
 </style>
